body {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'PT Sans', sans-serif;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #b9d4de 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#b9d4de 100%);  */
  background: linear-gradient(to bottom,  #ffffff 0%,#b9d4de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#275c70',GradientType=0 );

}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 960px;
  min-height: 400px;
  background-color: #FFEBAF;
  z-index: 20;
  padding: 20px;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.35);
}

header {
  width: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

h2 {
  margin: auto;
  padding: 10px 0px 10px 0px;
  font-weight: normal;
  display: inline-block;
  font-size: 19px;
}

a {
  text-decoration: none;
}

button, input, form, label, fieldset {
  font-family: inherit;
}

button {
  outline: none;
}

form {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 text-align: center;
}

.income-input {
  flex-basis: 100%
}

/*legend {
  border: 0;
  margin-top: 75px;
  font-size: 24px;
  width: 900px;
  font-family: 'Nunito', sans-serif;
}*/

/*fieldset {
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 20px;
  }*/

label {
  text-align:center;
  font-family: 'PT Sans', sans-serif;
  display: block;
  font-weight: lighter;
}

.income-input input {
  margin-bottom: 50px;
}

input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.35);
}

button {
  border-radius: 10px;
  margin-top: 25px;
  font-family: 'PT Sans', sans-serif;
}

nav ul {
  width: 1000px;
  display:flex;
  justify-content: space-around;
}

nav li {
    font-family: 'PT Sans', sans-serif;
    color: #FFF;
    display: table-cell;
    position: relative;
    top: 20px;
    right: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 62px;
    height: 40px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
    border-left: 20px solid #FFEBAF;
    border-right: 20px solid #FFEBAF;
    border-top: 20px solid #FFEBAF;
    z-index: -1000;
}

main > section {
  margin-top: 20px;
}

.nav-divider {
  position: absolute;
  height: 1px;
  top: 0;
  right: 0;
  width: 801px;
  border-top: 3px solid #908563;
}

nav li:hover {
     text-shadow:
  1px 1px 3px #000,
   1px 1px 3px #000,
   1px 1px 3px #000,
    1px 1px 3px #000;
}

.budget-button-color {
  background-color: #F28805;
}

.savings-button-color {
  background-color: #F2E105;
}

.fixlist img {
  border: 1px solid black;
  height: 75px;
  opacity: 0.8;
  margin: 30px 70px 10px 70px;
}

.fixlist img:hover {
  opacity: 1;
}

.home-tab {
          background-color: #F20505;
}

.budget-tab {
          background-color: #F28805;
}

.savings-tab {
          background-color: #F2E105;
}

.aboutus-tab {
          background-color: #50F205;
}

.resources-tab {
          background-color: #7C05F2;
}

.tools {
  position: relative;
  z-index: 50;
  text-align: center;
}

.fixlist {
  display: block;
  width: 1000px;
}

.fixlist li {
  display: inline;
  width: 900px;
}

.cannoli img {
  display: inline;
  height: 240px;
  float: left;
  margin-bottom: 140px;
}

.cannoli {
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cannoli article {
  width: 45%;
  text-align: left;
  height: 320px;
  margin-bottom: 20px;
}

.cannoli p {
display: inline;
margin-left: 5px;
font-size: .8em;
}

.post-it {
  position: relative;
  left: 550px;
  top: 30px;
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.folder-line {
  position: absolute;
  display: inline;
  left: 0;
  top: 0;
  z-index: 2000;
}

.pie-legend span {
  text-align: center;
  height: 20px;
  width: 200px;
  display: inline-block;
  border: 1px solid black;
  font-weight: bold;
  color: #FFF;
  text-shadow:
1px 1px 3px #000,
1px 1px 3px #000,
1px 1px 3px #000,
 1px 1px 3px #000;
}

.pie-legend {
  list-style: none;

}

.saved-text {
  text-align: center;
  width: 1000px;
  font-size: 2em;
}

.tooltip {
  display: inline;
  position: below;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: -100px;
    content: "";
    left: 0%;
    position: absolute;
    z-index: 99;
}

#current {
  background-color: #FFEBAF;
  color: #000;
  text-shadow: none;
}

#canvas-section {
  display: inline-block;;

}

#chart-legend-location {
  display: inline-block;
  margin-left: 50px;

}

#progress-holder {
  width:400px;
  height:20px;
  background:grey;
  margin-left: auto;
  margin-right: auto;
}

#progress {
  width:0;
  height:100%;
  background:black;
  -webkit-transition:width 500ms;
  position: relative;
  bottom: 16px;
  right: 40px;
}

#savings-income-event-section {
  text-align:center;
  width: 100%;
  margin-bottom: 20px;
}

#savingsForm {
  width: 100%;
  margin: auto;
}

#newGoal {
  display: inline;
  text-align: center;
  margin: auto;
}

/* From animate.css: */

.animated.hinge {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}


@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
}
