body {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Nunito', sans-serif;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 960px;
    min-height: 600px;
    background-color: #FFEBAF;
    z-index: 20;
    padding: 20px;
}

header {
  width: 1000px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

h2 {
  margin: 10px;
  padding: 30px 0px 10px 0px;
}

a {
  text-decoration: none;
}

form {
  text-align: center;
}

/*label, input {
  display: block;
}*/

legend{
  margin-top: 75px;
  font-size: 24px;
  width: 900px;
  font-family: 'PT Sans', sans-serif;
  border: 5px solid #49C975;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

fieldset {
  border: 5px solid #49C975;
  width: 900px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 20px;


  }

label {
  font-family: 'PT Sans', sans-serif;
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: right;


}

input {
  display: inline-block;
  float: left;
  margin-left: 80px;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.35);

}

button {
  border-radius: 10px;
  background-color: #49C975;
  margin-top: 25px;
  font-family: 'PT Sans', sans-serif;
}

nav ul {
  width: 1000px;
  display:flex;
  justify-content: space-around;
}

nav li {
    font-family: 'PT Sans', sans-serif;
    color: #FFF;
    display: table-cell;
    position: relative;
    top: 20px;
    right: 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 62px;
    height: 40px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
    border-left: 20px solid #FFEBAF;
    border-right: 20px solid #FFEBAF;
    border-top: 20px solid #FFEBAF;
    z-index: -1000;
}

.nav-divider {
  position: absolute;
  height: 1px;
  top: 0;
  right: 0;
  width: 801px;
  border-top: 3px solid #908563;
}

nav li:hover {
     text-shadow:
  1px 1px 3px #000,
   1px 1px 3px #000,
   1px 1px 3px #000,
    1px 1px 3px #000;
}

.fixlist img {
  border: 1px solid black;
  height: 75px;
  opacity: 0.8;
  margin: 30px 70px 10px 70px;
}

.fixlist img:hover {
  opacity: 1;
}

.home-tab {
          background-color: #5e0786;
}

.budget-tab {
          background-color: #790046;
}

.savings-tab {
          background-color: #f59331;
}

.aboutus-tab {
          background-color: #007138;
}

.resources-tab {
          background-color: #004c7e;
}

.tools {
  position: relative;
  z-index: 50;
}

.fixlist {
  display: block;
  width: 1000px;
}

.fixlist li {
  display: inline;
  width: 900px;
}

#current {
  background-color: #FFEBAF;
  color: #000;
  text-shadow: none;
}

.cannoli img {
  display: block;
}

.cannoli {
  padding-top: 90px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px auto;
}

.post-it {
  position: relative;
  left: 550px;
  top: 30px;
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.folder-line {
  position: absolute;
  display: inline;
  left: 0;
  top: 0;
  z-index: 2000;
}

#progress-holder {
  width:400px;
  height:20px;
  background:grey;
}

#progress {
  width:0;
  height:100%;
  background:black;
  -webkit-transition:width 500ms;
}

/* From animate.css: */

.animated.hinge {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}


@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
}
